<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/maps/modules/data.js"></script>
<script src="https://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>


<!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
<link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />


<div id="wrapper">
  <div id="container">
      
  </div>
</div>


<h4 id="heading">Latest news of COVID-19</h4>
<hr>
<div class="row">
    <div class="col-8">
        <div class="row card-group" id="news">
            <div class="col-4">
                <div class="card">
                    <img id="image1" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <a href="">View Full Article</a>
                    <hr>
                    <p></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img id="image2" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <a href="">View Full Article</a>
                    <hr>
                    <p></p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img id="image3" class="card-img-top">
                    <div class="card-body">
                    <h5 class="card-title"></h5>
                    <a href="">View Full Article</a>
                    <hr>
                    <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <h3></h3> 
        <br>
        <h6 class="total"></h6>
        <h6 class="infected"></h6>
        <table class="table" id="data-table">
            <tr>
                <th>Dates</th>
                <th>Cases</th>
                <th>Change</th>
            </tr>
            <tr>
                <td class="date"></td>
                <td class="cases"></td>
                <td class="percent"></td>
            </tr>
            <tr>
                <td class="date"></td>
                <td class="cases"></td>
                <td class="percent"></td>
            </tr>
            <tr>
                <td class="date"></td>
                <td class="cases"></td>
                <td class="percent"></td>
            </tr>
            <tr>
                <td class="date"></td>
                <td class="cases"></td>
                <td class="percent"></td>
            </tr>
            <tr>
                <td class="date"></td>
                <td class="cases"></td>
                <td class="percent"></td>
            </tr>
        </table>
    </div>
</div>

<script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script src="/javascripts/index.js"></script>